<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <head>
        <title>District List</title>
    </head>
    <h2>District List</h2>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        {% for district in districts %}
        <tr>
            <td>{{ district.id }}</td>
            <td>{{ district.name }}</td>
        </tr>
        {% endfor %}

</body>
</html>
